//create a mixin for the gradient because we're using it a lot

//gradient mixin
@use '../custom' as *;

@mixin gradient {
  background: linear-gradient(
    to right,
    rgba($primary, 0.95),
    rgba($neon, 0.95)
  );
}

@mixin greengradient {
  background: linear-gradient(
    to right,
    rgba($green-light, 0.95),
    rgba($neon, 0.95)
  );
}

//absolute center

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//on hover transition

@mixin transitionProperty {
  transition-duration: 800ms;
  transition-property: all;
}
